- if (objekt.type == '3')
	div.imagebox.draggable.resizable(id='#{objekt.id}', style='top:#{objekt.coord_x}px; left:#{objekt.coord_y}px;')
	img(src='#{objekt.content}', alt='#{objekt.namn}', width='#{objekt.width}')